#footer {
  background-color: #343434;
  padding-top: 70px;
  padding-bottom: 60px;
  font-family: Roboto;
}
#footer a,
#footer p {
  font-size: 1.5vmax;
  text-decoration: none;
  color: white;
  font-family: Roboto;
}
.social-icon {
  font-size: 2.2vmax;
  padding-right: 1vmax;
}
.footer-title {
  font-size: 4vmax;
  font-family: "Roboto";
  color: #00bec9;
  font-family: Roboto;
}

.copyright-footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding-top: 1.9vmax;
  padding-bottom: 0.8vmax;
}
.footer-hover :hover{
  color: #00bec9;
}